# Pump it Up: Data Mining the Water Table

### Can you predict which water pumps are faulty?
Using data from Taarifa and the Tanzanian Ministry of Water, can you predict which pumps are functional, which need some repairs, and which don't work at all? This is an intermediate-level practice competition. Predict one of these three classes based on a number of variables about what kind of pump is operating, when it was installed, and how it is managed. A smart understanding of which waterpoints will fail can improve maintenance operations and ensure that clean, potable water is available to communities across Tanzania.

Competition:
https://www.drivendata.org/competitions/7/

TODO:
- make sure new categories of the test set (not present in the train set) belong to 'Others'
- new column: well age
- new column: funder == installer? (check if this has an effect on status_group)

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import os
import sys

import numpy as np
import pandas as pd
import seaborn as sns

import sklearn as sk
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [2]:
# Download the data and load with pandas
TRAIN_DATA_URL = 'https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv'
TRAIN_LABELS_URL = 'https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv'
TEST_DATA_URL = 'https://s3.amazonaws.com/drivendata/data/7/public/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv'

train_values = pd.read_csv(TRAIN_DATA_URL,
                    index_col='id')
train_labels = pd.read_csv(TRAIN_LABELS_URL,
                     index_col='id')
test = pd.read_csv(TEST_DATA_URL,
                   index_col='id')

In [3]:
# merge training values and labels
train = pd.merge(train_values, train_labels, left_index=True, right_index=True)

def status_group_mapper(status_group: str):
    if status_group == 'functional':
        return 2
    elif status_group == 'non functional':
        return 0
    else:
        return 1

# map status_group label to numeric class (0: non-func, 1: repair, 2: func)
train['status_group'] = train['status_group'].apply(status_group_mapper)
train.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,2
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,2
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,2
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,0
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,2

In [4]:
# all train object-columns to lower-case
for cname in train.columns:
    if train[cname].dtype == object:
        train[cname] = train[cname].str.lower()

In [5]:
# all test object-columns to lower-case
for cname in test.columns:
    if test[cname].dtype == object:
        test[cname] = test[cname].str.lower()

### Explore the dataset

- amount_tsh - Total static head (amount water available to waterpoint)
- date_recorded - The date the row was entered
- funder - Who funded the well
- gps_height - Altitude of the well
- installer - Organization that installed the well
- longitude - GPS coordinate
- latitude - GPS coordinate
- wpt_name - Name of the waterpoint if there is one
- num_private -
- basin - Geographic water basin
- subvillage - Geographic location
- region - Geographic location
- region_code - Geographic location (coded)
- district_code - Geographic location (coded)
- lga - Geographic location
- ward - Geographic location
- population - Population around the well
- public_meeting - True/False
- recorded_by - Group entering this row of data
- scheme_management - Who operates the waterpoint
- scheme_name - Who operates the waterpoint
- permit - If the waterpoint is permitted
- construction_year - Year the waterpoint was constructed
- extraction_type - The kind of extraction the waterpoint uses
- extraction_type_group - The kind of extraction the waterpoint uses
- extraction_type_class - The kind of extraction the waterpoint uses
- management - How the waterpoint is managed
- management_group - How the waterpoint is managed
- payment - What the water costs
- payment_type - What the water costs
- water_quality - The quality of the water
- quality_group - The quality of the water
- quantity - The quantity of water
- quantity_group - The quantity of water
- source - The source of the water
- source_type - The source of the water
- source_class - The source of the water
- waterpoint_type - The kind of waterpoint
- waterpoint_type_group - The kind of waterpoint

In [ ]:
def matrix_plot(cols):
    sns.set(style='whitegrid',context='notebook')
    sns.pairplot(train[cols],size=2.5)
    plt.show()
    
matrix_plot(['amount_tsh','num_private','population','status_group'])

In [ ]:
matrix_plot(['gps_height','latitude', 'longitude','status_group'])

In [6]:
# check for missing values
train.isna().sum()

amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting           59400
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                   59400
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [7]:
def check_redundant(col1, col2):
    result = np.where(train[col1] != train[col2])[0]
    print('{} != {}: {}/{}'.format(col1, col2, result.size, len(train)))

# check redundancies
check_redundant('quantity', 'quantity_group')
check_redundant('waterpoint_type', 'waterpoint_type_group')
check_redundant('water_quality', 'quality_group')
check_redundant('management', 'management_group')
check_redundant('payment', 'payment_type')
check_redundant('source', 'source_type')
check_redundant('source', 'source_class')
check_redundant('extraction_type', 'extraction_type_group')
check_redundant('extraction_type', 'extraction_type_class')
check_redundant('funder', 'installer')

quantity != quantity_group: 0/59400
waterpoint_type != waterpoint_type_group: 6103/59400
water_quality != quality_group: 51664/59400
management != management_group: 56227/59400
payment != payment_type: 24841/59400
source != source_type: 22392/59400
source != source_class: 59334/59400
extraction_type != extraction_type_group: 2469/59400
extraction_type != extraction_type_class: 21426/59400
funder != installer: 40470/59400

### Data preparation

#### quantity, quantity_group

In [8]:
# TODO remove or merge redundant columns
train = train.drop(columns=['quantity_group'])
test = test.drop(columns=['quantity_group'])

#### population

In [ ]:
# replace 0 (zero) in columns with NAs
#train = train.replace({'population':0}, np.nan)
# TODO: binning? p<100, 100<p<500, 500<p<1000, 1000<p

#### funder, installer

In [9]:
# replace 0 (zero) in columns with NAs
train = train.drop(columns=['funder'])
train = train.replace({'installer':'0'}, 'other')
train = train.replace({'installer': np.nan}, 'other') # other or unknown?

test = test.drop(columns=['funder'])
test = test.replace({'installer':'0'}, 'other')
test = test.replace({'installer': np.nan}, 'other') # other or unknown?

In [10]:
def replace_mapper(value: str, contains: str, label: str):
    if contains in value:
        return label
    return value

train['installer'] = train['installer'].apply(lambda v : replace_mapper(v, 'gov', 'government'))
train['installer'] = train['installer'].apply(lambda v : replace_mapper(v, 'comm', 'community'))
train['installer'] = train['installer'].apply(lambda v : replace_mapper(v, 'danid', 'danida'))

test['installer'] = test['installer'].apply(lambda v : replace_mapper(v, 'gov', 'government'))
test['installer'] = test['installer'].apply(lambda v : replace_mapper(v, 'comm', 'community'))
test['installer'] = test['installer'].apply(lambda v : replace_mapper(v, 'danid', 'danida'))

In [11]:
installer = train['installer'].value_counts()
installer_few = train['installer'].isin(installer.index[installer < 100])
train.loc[installer_few, 'installer'] = 'other'
train['installer'].value_counts()

dwe                              17405
other                            15880
government                        3753
community                         1974
danida                            1676
hesawa                            1395
rwe                               1206
district council                   961
kkkt                               910
tcrs                               707
world vision                       699
ces                                610
amref                              443
lga                                413
tasaf                              411
wedeco                             398
fini water                         389
dmdd                               376
norad                              360
twesa                              316
da                                 308
wu                                 301
acra                               278
sema                               249
dw                                 246
jaica                              239
unicef                             234
oxfam                              234
shipo                              233
idara ya maji                      223
                                 ...
district water department          167
kkkt _ konde and dwe               166
private                            162
centr                              162
wvt                                158
mwe                                157
is                                 156
handeni trunk main(                156
water aid                          153
world bank                         153
wananchi                           151
rwssp                              149
jica                               141
adra                               135
isf                                135
artisan                            135
mission                            130
ddca                               126
he                                 125
world                              125
tardo                              123
ir                                 122
consulting engineer                119
twe                                111
muwsa                              107
ded                                105
village council                    104
wizara ya maji                     102
halmashauri ya wilaya sikonge      102
hsw                                100
Name: installer, Length: 73, dtype: int64

In [14]:
installer_values = train['installer'].unique()

test['installer'] = test['installer'].apply(lambda v: 'other' if v not in installer_values else v).value_counts()

#### waterpoint, waterpoint_type_group

In [15]:
print(train['waterpoint_type'].value_counts(dropna=False))
print(train['waterpoint_type_group'].value_counts(dropna=False))

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [16]:
# make dam (only 7 instances) to others, and drop waterpoint_type_group
train = train.replace({'waterpoint_type':'dam'}, 'other')
train = train.drop(columns=['waterpoint_type_group'])

test = test.replace({'waterpoint_type':'dam'}, 'other')
test = test.drop(columns=['waterpoint_type_group'])

#### construction_year, date_recorded, well_age

In [17]:
# trim the record date to the year
train['date_recorded'] = train['date_recorded'].apply(lambda v : float(v[:4]))
test['date_recorded'] = test['date_recorded'].apply(lambda v : float(v[:4]))

# fill construction_year==0 with the min value (I expect that the year is unknown because it's a while ago)
train = train.replace({'construction_year':0}, np.nan)
test = test.replace({'construction_year':0}, np.nan)
min_construction_year = int(train['construction_year'].min())
train = train.replace({'construction_year':np.nan}, min_construction_year)
test = test.replace({'construction_year':np.nan}, min_construction_year)

# create a new column 'well_age'
train['well_age'] = train['date_recorded'] - train['construction_year']
test['well_age'] = test['date_recorded'] - test['construction_year']

#### extraction_type, extraction_type_group, extraction_type_class

In [18]:
# we only keep extraction_type_class, since all are quite similar and this one has the most understandable groups
train = train.drop(columns=['extraction_type', 'extraction_type_group'])
test = test.drop(columns=['extraction_type', 'extraction_type_group'])
train['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

#### latitude, longitude, gps_height
- there are many zero (0 or -2e-8) which is not withing Tanzania (lat: (-11, -1), lng: (30, 40))
- height extremes in Tanzania are 0 to 5,895m. Minus values might be underground. Many empty 0 values.
- use basin to estimate the apprx. location

In [19]:
# ensure all unknown values are zero (0):
train = train.replace({'latitude':-2.000000e-08}, 0)
test = test.replace({'latitude':-2.000000e-08}, 0)

# bounds of min/max latitude/longitude/height for Tanzania using basin
train_bound = train[(train['latitude']!=0)&(train['longitude']!=0)&(train['gps_height']!=0)]
train_median_geo = train_bound.groupby(['basin',])['latitude','longitude','gps_height'].median()
train_median_geo

                          latitude  longitude  gps_height
basin
internal                 -4.268302  35.367111        1504
lake nyasa               -9.796345  34.708831        1646
lake rukwa               -7.628407  31.368940        1504
lake tanganyika          -4.639630  30.329597        1286
lake victoria            -1.851610  34.063530        1286
pangani                  -3.440594  37.491983        1193
rufiji                   -8.456492  35.774562        1235
ruvuma / southern coast -10.627406  38.934973         343
wami / ruvu              -6.797943  38.360608         174

In [20]:
train.loc[train['gps_height']==0, 'gps_height'] = train['basin'].apply(lambda x : train_median_geo.at[x,'gps_height'])
train.loc[train['longitude']==0, 'longitude'] = train['basin'].apply(lambda x : train_median_geo.at[x,'longitude'])
train.loc[train['latitude']==0, 'latitude'] = train['basin'].apply(lambda x : train_median_geo.at[x,'latitude'])

test.loc[test['gps_height']==0, 'gps_height'] = test['basin'].apply(lambda x : train_median_geo.at[x,'gps_height'])
test.loc[test['longitude']==0, 'longitude'] = test['basin'].apply(lambda x : train_median_geo.at[x,'longitude'])
test.loc[test['latitude']==0, 'latitude'] = test['basin'].apply(lambda x : train_median_geo.at[x,'latitude'])

#### amount_tsh

In [ ]:
train['amount_tsh'].value_counts()

#### others

In [ ]:
train.head()

## Attributes that we are interested in

In [ ]:
train.info()

In [21]:
numeric_cols = ['gps_height', 'latitude', 'longitude', 'well_age']
ordered_cat_cols = []
unordered_cat_cols = ['quantity', 'installer', 'waterpoint_type', 'extraction_type_class']
all_cols = numeric_cols + ordered_cat_cols + unordered_cat_cols

## Encode categorical attributes
- LabelEncoder (ordered)
- LabelBinarizer (unordered)

In [ ]:
def encode_categories(column: pd.core.series.Series):
    encoder = LabelBinarizer()
    return encoder.fit_transform(column)

In [ ]:
for column_name in unordered_cat_cols:
    #train[column_name] = encode_categories(train[column_name])

In [ ]:
encode_categories(train['quantity'])

In [ ]:
train['quantity']

In [22]:
training = pd.get_dummies(train[all_cols], columns=unordered_cat_cols)
training

,gps_height,latitude,longitude,well_age,quantity_dry,quantity_enough,quantity_insufficient,quantity_seasonal,quantity_unknown,installer_acra,...,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,extraction_type_class_gravity,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered
id,,,,,,,,,,,,,,,,,,,,,
69572,1390,-9.856322,34.938093,12.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8776,1399,-2.147466,34.698766,3.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34310,686,-3.821329,37.460664,4.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
67743,263,-11.155298,38.486161,27.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19728,1286,-1.825359,31.130847,51.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
9944,1193,-4.765587,39.172796,2.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19816,1504,-3.766365,33.362410,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
54551,1286,-4.226198,32.620617,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
53934,1286,-5.146712,32.711100,52.0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
46144,1286,-1.257051,30.626991,51.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
49056,62,-7.034139,39.209518,0.0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
50409,1062,-10.574175,35.770258,26.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
36957,1504,-3.290194,33.798106,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
50495,1368,-3.181783,37.092574,4.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
53752,1504,-3.629333,34.364073,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
61848,1645,-8.274962,31.444121,20.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
48451,1703,-9.106185,34.642439,33.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
58155,1656,-9.085515,34.569266,33.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34169,1162,-1.947868,32.920154,12.0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
18274,1763,-9.894412,34.508967,19.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48375,2216,-9.594990,34.473430,3.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6091,1286,-1.851610,34.063530,53.0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
58500,1510,-8.980014,34.586901,33.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
37862,672,-4.125595,37.940029,2.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
51058,1645,-4.495568,29.747066,4.0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
22308,1273,-3.317536,37.422751,39.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
55012,200,-9.942532,39.370777,2.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
20145,1286,-1.735361,31.104257,51.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
19685,1443,-3.263526,37.611126,13.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
69124,1256,-3.191989,37.061688,11.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14796,1154,-4.902633,30.058731,53.0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
20387,1286,-3.040369,33.586406,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
29940,1286,-5.052101,32.058548,52.0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
15233,1137,-6.784358,32.125024,25.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
49651,1286,-1.851610,34.063530,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
50998,54,-5.061494,39.046942,6.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34716,1581,-5.076258,34.821039,23.0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
43986,1504,-4.423594,33.437012,52.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
38067,2101,-9.358405,34.620387,3.0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
58255,1286,-1.820226,31.613284,51.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
30647,1439,-9.849198,34.942101,12.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
67885,1193,-4.880204,38.835001,19.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
47002,1383,-3.323599,37.454759,5.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
44616,11,-10.057499,39.626009,5.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
72148,1286,-2.483710,30.667805,51.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
34473,1327,-2.021854,33.951681,1.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
34952,1786,-8.532013,31.738789,2.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
26640,25,-6.957098,39.176480,13.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
72559,1414,-3.593827,30.692400,18.0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
30410,783,-7.365418,30.646486,2.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
13677,1715,-8.258160,31.370848,20.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
44885,540,-4.272218,38.044070,46.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
40607,1504,-8.520888,33.009440,51.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
48348,1504,-4.287410,33.866852,52.0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
11164,351,-6.124830,37.634053,4.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
60739,1210,-3.253847,37.169807,14.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
27263,1212,-9.070629,35.249991,15.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
37057,1235,-8.750434,34.017087,51.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
31282,1235,-6.378573,35.861315,51.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
26348,191,-6.747464,38.104048,9.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [23]:
testing = pd.get_dummies(test[all_cols], columns=unordered_cat_cols)
testing

,gps_height,latitude,longitude,well_age,quantity_dry,quantity_enough,quantity_insufficient,quantity_seasonal,quantity_unknown,waterpoint_type_cattle trough,...,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,extraction_type_class_gravity,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered
id,,,,,,,,,,,,,,,,,,,,,
50785,1996,-4.059696,35.290799,1.0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
51630,1569,-3.309214,36.656709,13.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17168,1567,-5.004344,34.767863,3.0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
45559,267,-9.418672,38.058046,26.0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
49871,1260,-10.950412,35.006123,13.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
52449,1685,-3.302420,36.685279,23.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24806,550,-7.541382,36.398041,4.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
28965,234,-10.893786,39.607420,31.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
36301,584,-10.823588,39.262951,16.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
54122,1083,-3.251754,37.096108,10.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
419,1259,-3.241121,37.233248,7.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
45750,608,-4.555975,37.686392,11.0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
653,1504,-4.165720,33.661074,52.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14017,1286,-3.209529,33.007680,51.0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
44607,1625,-7.870290,35.615624,27.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
40228,916,-10.912596,35.482886,24.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
27714,-39,-7.727946,39.850190,51.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
28785,1793,-4.565802,38.254024,33.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28330,1286,-3.387808,31.586798,52.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
18532,368,-10.583366,39.438526,31.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
69961,-27,-6.850262,39.322307,3.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
55083,1674,-9.352515,34.943620,3.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8691,1087,-5.054196,31.046088,8.0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
30331,1441,-5.165926,34.621048,43.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
70970,1286,-3.047122,33.722359,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
61136,1726,-9.152872,34.929592,3.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28799,986,-10.579686,35.424443,4.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
46825,174,-6.147522,35.894877,51.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
44718,1286,-1.851610,34.063530,53.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
37350,1309,-5.242313,36.291761,11.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52228,265,-10.169904,38.504640,12.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
70038,1322,-3.235687,37.261731,6.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25901,640,-10.925036,39.297410,16.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
21131,1646,-9.298466,33.918953,51.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
26580,574,-6.575076,37.070462,3.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
66059,331,-10.913136,38.761961,35.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
32944,1286,-3.311621,32.243937,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
13686,1286,-2.734208,32.985694,51.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
8471,78,-7.060921,39.254272,51.0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
19620,836,-11.039047,35.227320,8.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
74162,1651,-4.494348,37.962243,17.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
37994,1286,-1.851610,34.063530,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
71151,1393,-3.255077,36.930169,12.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
45017,1729,-9.455737,34.302104,8.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12592,1504,-4.633272,35.840727,51.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
58693,1286,-3.644662,32.442886,53.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
57539,-7,-7.477423,39.140091,2.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
71252,1241,-4.162845,30.114667,3.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
7869,2046,-9.547077,34.345525,25.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
57316,347,-4.815222,38.613415,6.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
59757,1291,-9.831170,35.345384,4.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
64579,1286,-1.851610,34.063530,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
57731,808,-4.882705,29.740224,4.0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
65541,1641,-4.480618,29.768139,18.0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
68174,1286,-3.079689,34.096878,52.0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
39307,34,-6.582841,38.852669,23.0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18990,1193,-5.350428,37.451633,17.0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
28749,1476,-4.585587,34.739804,3.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
33492,998,-10.584159,35.432732,4.0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
68707,481,-11.226012,34.765054,5.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [28]:
train_data = training.as_matrix()
train_labels = train['status_group'].as_matrix()
test_data = testing.as_matrix()